<!DOCTYPE html>
<html lang="en">
    <head th:with="title='Home'">
        <meta charset="UTF-8">
        <title th:text="${title}">Title</title>
    </head>
    <body>
        <th:block th:fragment="info">
            <h1 th:utext="${#vars.projectName}">Project Name</h1>
            <h2 th:utext="${#temporals.format(#vars.currentDateTime, 'dd.MM.yy HH:mm')}">Current Date and Time</h2>
            <h3 th:utext="#{message.welcome(#{student.name})}"></h3>
            <h4 th:utext="#{message.info(#{student.group})}"></h4>
        </th:block>
        <a th:href="@{'/second'}">Next Task</a>
    </body>
</html>