<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Page Title</title>
</head>
<body>
    <h1 th:text="${title}">Default</h1>

    <table border="1">
        <thead>
        <tr>
            <th>Id</th>
            <th>FirstName</th>
            <th>SecondName</th>
            <th>Admin</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.getId()}"></td>
            <td th:text="${user.getFirstMame()}"></td>
            <td th:text="${user.getSureName()}"></td>
            <td th:text="${user.isAdmin()}"></td>
            <td>
            </td>
        </tr>
        </tbody>
    </table>

    <button th:href="@{'/fourth'}">Next Task</button>
</body>
</html>