<nav th:fragment="navbar">
    <a th:href="@{/home/index}" th:utext="${#vars.projectName}"></a>

    <ul>
        <li><a th:href="@{/first}">First</a></li>
        <li><a th:href="@{/second}">Second</a></li>
        <li><a th:href="@{/third}">Third</a></li>
        <li><a th:href="@{/fourth}">Fourth</a></li>
    </ul>

    <ul>
        <li><a th:href="@{/login}" th:utext="#{nav.string.login}"></a></li>
        <li><a th:href="@{/signup}" th:utext="#{nav.string.signup}"></a></li>
    </ul>
</nav>